In [2]:
import requests
from bs4 import BeautifulSoup

In [3]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

In [4]:
import time

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
import pandas as pd
import numpy as np

### ANSWER 1

In [32]:
driver=webdriver.Chrome("chromedriver.exe")

In [33]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [38]:
try:
    videoTable=driver.find_element(By.XPATH,"/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody")
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

In [39]:
videoTableRows=videoTable.find_elements(By.XPATH,"./tr")

In [40]:
listRank=[]
listName=[]
listArtist=[]
listUploadDate=[]
listViews=[]

In [41]:
for i in videoTableRows:
    rowDetails=i.find_elements(By.XPATH,"./td")
    listRank.append(rowDetails[0].text.replace(".",""))
    listName.append(rowDetails[1].text.split("[")[0].replace('"',''))
    listArtist.append(rowDetails[2].text)
    listViews.append(rowDetails[3].text)
    listUploadDate.append(rowDetails[4].text)

In [42]:
dict_wiki={"Rank":listRank,"Name":listName,"Artist":listArtist,"UploadDate":listUploadDate,"Views":listViews}
df_wiki=pd.DataFrame(dict_wiki)
df_wiki

,Rank,Name,Artist,UploadDate,Views
0,1,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2,Despacito,Luis Fonsi,"January 12, 2017",8.14
2,3,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.69
3,4,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5,Shape of You,Ed Sheeran,"January 30, 2017",5.97
5,6,See You Again,Wiz Khalifa,"April 6, 2015",5.86
6,7,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.26
7,8,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9,Uptown Funk,Mark Ronson,"November 19, 2014",4.89
9,10,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.87
10,11,Gangnam Style,Psy,"July 15, 2012",4.77
11,12,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.55
12,13,Dame Tu Cosita,El Chombo,"April 5, 2018",4.32
13,14,Axel F,Crazy Frog,"June 16, 2009",3.87
14,15,Sugar,Maroon 5,"January 14, 2015",3.86
15,16,Roar,Katy Perry,"September 5, 2013",3.78
16,17,Counting Stars,OneRepublic,"May 31, 2013",3.77
17,18,Sorry,Justin Bieber,"October 22, 2015",3.65
18,19,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.58
20,21,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.56
21,22,Dark Horse,Katy Perry,"February 20, 2014",3.50
22,23,Faded,Alan Walker,"December 3, 2015",3.44
23,24,Perfect,Ed Sheeran,"November 9, 2017",3.42
24,25,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.42
25,26,Let Her Go,Passenger,"July 25, 2012",3.42
26,27,Girls Like You,Maroon 5,"May 31, 2018",3.40
27,28,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29,Lean On,Major Lazer,"March 22, 2015",3.37
29,30,Bailando,Enrique Iglesias,"April 11, 2014",3.37

In [43]:
driver.close()

### ANSWER 2

In [47]:
driver=webdriver.Chrome("chromedriver.exe")

In [48]:
driver.get("https://www.bcci.tv/")

In [49]:
try:
    menuBtn=driver.find_element(By.LINK_TEXT,"INTERNATIONAL")
    menuBtn.click()
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

In [51]:
cricket_fixtures=driver.find_elements(By.XPATH,'//div[@class="match-card ng-scope"]')
cricket_fixtures

In [52]:
cricket_fixtures[0].text

'ICC WORLD TEST CHAMPIONSHIP FINAL 2023\n7 JUN 2023\n3:30 PM IST\nIndia\nvs\nAustralia\nFinal - Kennington Oval, London\nMatch Centre'

In [55]:
match_title_list=[] 
series_list=[]
place_list=[]
date_list=[]
time_list=[]

In [56]:
cricket_fixtures=driver.find_elements(By.XPATH,'//div[@class="match-card ng-scope"]')
for i in cricket_fixtures:
    matchFixtureList=i.text.split('\n')
    match_title_list.append(matchFixtureList[6].split('-')[0].strip())
    series_list.append(matchFixtureList[0])
    place_list.append(matchFixtureList[6].split('-')[1].strip())
    date_list.append(matchFixtureList[1])
    time_list.append(matchFixtureList[2])
    #print(matchFixtureList)

In [57]:
dict_fixtures={"Match Title":match_title_list,"Series":series_list,"Place":place_list,"Date":date_list,"Time":time_list}
df_fixtures=pd.DataFrame(dict_fixtures)
df_fixtures

,Match Title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP FINAL 2023,"Kennington Oval, London",7 JUN 2023,3:30 PM IST

In [58]:
driver.close()

### ANSWER 3

In [68]:
driver=webdriver.Chrome("chromedriver.exe")

In [69]:
driver.get("http://statisticstimes.com/")

In [70]:
try:
    dropdownBtn=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
    dropdownBtn.click()
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

An exception occurred

In [73]:
dropdownBtn=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
dropdownBtn.click()
time.sleep(5)

In [74]:
selectBtn=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
selectBtn.click()
time.sleep(5)

In [76]:
menuBtn=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
menuBtn.click()
time.sleep(5)

In [77]:
rank = []
state = []
gsdp1 = []
gsdp2 = []
share = []
gdp_billion = []

In [83]:
try:
    gdpTable=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody")
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

In [87]:
print(gdpTable)

<selenium.webdriver.remote.webelement.WebElement (session="9c045f8889e76a305bec6632c8260816", element="399f39d3-9f41-4754-a4af-3ff9991d6b60")>

In [89]:
gdpTableRows=gdpTable.find_elements(By.XPATH,"./tr")

In [91]:
gdpTableRows[0].text

'1 Maharashtra - 2,632,792 13.94% 399.921 - 2,039,074'

In [98]:
for i in gdpTableRows:
    rowDetails=i.find_elements(By.XPATH,"./td")
    print(rowDetails[2].text)

-
1,845,853
1,687,818
-
1,631,977
1,253,832
1,020,989
972,782
969,604
906,672
-
856,112
831,610
611,804
574,760
521,275
-
329,180
328,598
-
-
165,472
80,449
55,984
-
38,253
36,572
32,496
31,790
-
-
26,503
-

In [99]:
for i in gdpTableRows:
    rowDetails=i.find_elements(By.XPATH,"./td")
    rank.append(rowDetails[0].text)
    state.append(rowDetails[1].text)
    gsdp1.append(rowDetails[3].text)
    gsdp2.append(rowDetails[2].text)
    share.append(rowDetails[4].text)
    gdp_billion.append(rowDetails[5].text)

In [100]:
dict_gdp={"Rank":rank,"State":state,"GSDP(18-19)":gsdp1,"GSDP(19-20)":gsdp2,"Share(18-19)":share,"GDP($billion)":gdp_billion}
df_gdp=pd.DataFrame(dict_gdp)
df_gdp

,Rank,State,GSDP(18-19),GSDP(19-20),Share(18-19),GDP($billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [101]:
driver.close()

### ANSWER 4

In [61]:
driver=webdriver.Chrome("chromedriver.exe")

In [62]:
driver.get("https://github.com/")

In [63]:
menuBtn=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
menuBtn.click()
time.sleep(5)

In [64]:
trendingBtn=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
trendingBtn.click()

In [65]:
try:
    repositoriesDetails=driver.find_elements(By.XPATH,'//article[@class="Box-row"]')
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

In [66]:
repositoriesDetails[0].text

"xtekky / gpt4free\ndecentralising the Ai Industry, just some language model api's...\nPython 17,887 2,270 Built by\n1,413 stars today"

In [120]:
listRepository_title=[]
listRepository_description=[]
listContributors_count=[]
listLanguage_used=[]

In [121]:
repositoryDetails=driver.find_elements(By.XPATH,'//article[@class="Box-row"]')
for i in repositoryDetails:
    detailsList=i.text.split('\n')
    contriElement=i.find_elements(By.XPATH,'./div[@class="f6 color-fg-muted mt-2"]/span[@class="d-inline-block mr-3"]/a')
    #print(len(contriElement))
    #print(detailsList)
    listRepository_title.append(detailsList[0])
    listRepository_description.append(detailsList[1])
    listLanguage_used.append(detailsList[2].split(" ")[0])
    listContributors_count.append(len(contriElement))

In [122]:
dict_repository={"Repository title":listRepository_title,"Repository description":listRepository_description,"Contributors count":listContributors_count,"Language used":listLanguage_used}
df_repository=pd.DataFrame(dict_repository)
df_repository

,Repository title,Repository description,Contributors count,Language used
0,xtekky / gpt4free,"decentralising the Ai Industry, just some lang...",5,Python
1,AIGC-Audio / AudioGPT,"AudioGPT: Understanding and Generating Speech,...",5,Python
2,alaeddine-13 / thinkgpt,Agent techniques to augment your LLM and push ...,2,Python
3,deep-floyd / IF,"Python 3,467 183 Built by",5,652
4,NVIDIA / NeMo-Guardrails,NeMo Guardrails is an open-source toolkit for ...,1,Python
5,go-skynet / LocalAI,"🤖 Self-hosted, community-driven simple local O...",5,Go
6,Mooler0410 / LLMsPracticalGuide,A curated list of practical guide resources of...,5,"1,640"
7,gaomingqi / Track-Anything,Track-Anything is a flexible and interactive t...,5,Python
8,IntelligenzaArtificiale / Free-AUTO-GPT-with-N...,Free AUTOGPT with NO API is a repository that ...,1,Jupyter
9,Priler / jarvis,Voice assistant made as an experiment using ne...,3,Svelte
10,nlpxucan / WizardLM,WizardLM: Empowering Large Pre-Trained Languag...,3,Python
11,k8sgpt-ai / k8sgpt,Giving Kubernetes Superpowers to everyone,5,Go
12,CVI-SZU / Linly,Chinese-LLaMA基础模型；ChatFlow中文对话模型；NLP预训练/指令微调数据集,1,Python
13,deforum-art / deforum-stable-diffusion,Python 742 170 Built by,5,24
14,ai-collection / ai-collection,The Generative AI Landscape - A Collection of ...,5,"4,241"
15,openai / openai-cookbook,Examples and guides for using the OpenAI API,5,Jupyter
16,GFW-knocker / gfw_resist_tls_proxy,knock up GFW sni detection in tls client hello,2,Python
17,X-PLUG / mPLUG-Owl,mPLUG-Owl🦉: Modularization Empowers Large Lang...,3,Python
18,apple / swift-foundation,The Foundation project,5,Swift
19,UX-Decoder / Segment-Everything-Everywhere-All...,"Official implementation of the paper ""Segment ...",5,Python
20,Ignitetechnologies / Mindmap,This repository will contain many mindmaps for...,1,"2,252"
21,bhaskatripathi / pdfGPT,PDF GPT allows you to chat with the contents o...,4,Python
22,ratfactor / ziglings,Learn the Zig programming language by fixing t...,5,Zig
23,gitleaks / gitleaks,Protect and discover secrets using Gitleaks 🔑,5,Go
24,YunaiV / yudao-cloud,ruoyi-vue-pro 全新 Cloud 版本，优化重构所有功能。基于 Spring C...,5,Java

In [123]:
driver.close()

### ANSWER 5

In [102]:
driver=webdriver.Chrome("chromedriver.exe")

In [103]:
driver.get("https:/www.billboard.com/")

In [105]:
try:
    chartBtn=driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]")
    chartBtn.click()
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

In [106]:
try:
    hot100Btn=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")
    hot100Btn.click()
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

In [ ]:
#popupBtn=driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")
#popupBtn.click()

In [124]:
try:
    rowDetails=driver.find_element(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

In [125]:
rowDetails.text

'Kill Bill\nSZA\n4\n1\n19'

In [126]:
song_nameList=[]
artist_nameList=[]
last_week_rankList=[]
peak_rankList=[]
weeks_on_boardList=[]

In [128]:
rowDetails=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
for i in rowDetails:
    rowDetailsList=i.text.split('\n')
    #print(rowDetailsList)
    song_nameList.append(rowDetailsList[0])
    artist_nameList.append(rowDetailsList[1])
    last_week_rankList.append(rowDetailsList[2])
    peak_rankList.append(rowDetailsList[3])
    weeks_on_boardList.append(rowDetailsList[4])

In [129]:
dict_billboard={"Song name":song_nameList,"Artist name":artist_nameList,"Last week rank":last_week_rankList,"Peak rank":peak_rankList,"Weeks on board":weeks_on_boardList}
df_billboard=pd.DataFrame(dict_billboard)
df_billboard

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Kill Bill,SZA,4,1,19
1,Last Night,Morgan Wallen,1,1,12
2,Flowers,Miley Cyrus,3,1,14
3,Princess Diana,Ice Spice & Nicki Minaj,-,4,1
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,10,5,5
...,...,...,...,...,...
95,Memory Lane,Old Dominion,96,96,3
96,Love Again,The Kid LAROI,88,40,12
97,'98 Braves,Morgan Wallen,100,27,7
98,Di Que Si,Grupo Marca Registrada X Grupo Frontera,-,99,1
99,It Matters To Her,Scotty McCreery,-,100,1

In [130]:
driver.close()

### ANSWER 6

In [134]:
driver=webdriver.Chrome("chromedriver.exe")

In [135]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [153]:
try:
    tableDetails=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody')
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

In [158]:
tableRows=tableDetails.find_elements(By.XPATH,'./tr')

In [159]:
book_nameList=[]
author_nameList=[]
volumes_soldList=[]
publisherList=[]
genreList=[]

In [160]:
for i in tableRows:
    tableContent=i.find_elements(By.XPATH,"./td")
    book_nameList.append(tablecontent[1].text)
    author_nameList.append(tablecontent[2].text)
    volumes_soldList.append(tablecontent[3].text)
    publisherList.append(tablecontent[4].text)
    genreList.append(tablecontent[5].text)

In [161]:
dict_novels={"Book name":book_nameList,"Author name":author_nameList,"Volumes sold":volumes_soldList,"Publisher":publisherList,"Genre":genreList}
df_novels=pd.DataFrame(dict_novels)
df_novels

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
3,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
4,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
...,...,...,...,...,...
95,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
96,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
97,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
98,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
99,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"

In [162]:
driver.close()

### ANSWER 7

In [163]:
driver=webdriver.Chrome("chromedriver.exe")

In [164]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [172]:
try:
    seriesContent=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]')
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

In [174]:
seriesContent[0].text

'1. Game of Thrones (2011–2019)\nTV-MA | 57 min | Action, Adventure, Drama\n9.2\nRate\nNine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for millennia.\nStars: Emilia Clarke, Peter Dinklage, Kit Harington, Lena Headey\nVotes: 2,154,230'

In [192]:
listName=[]
listYear_span=[]
listGenre=[]
listRun_time=[]
listRatings=[]
listVotes=[]

In [193]:
seriesContent=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]')
for i in seriesContent:
    seriesContentList=i.text.split('\n')
    listName.append(seriesContentList[0].split('.')[1].split('(')[0].strip())
    listYear_span.append(seriesContentList[0].split('(')[1].replace(')','').strip())
    listGenre.append(seriesContentList[1].split('|')[2].strip())
    listRun_time.append(seriesContentList[1].split('|')[1].strip())
    listRatings.append(seriesContentList[2].strip())
    listVotes.append(seriesContentList[6].split(':')[1].strip())
    #print(seriesContentList)

In [194]:
dict_series={"Name":listName,"Year span":listYear_span,"Genre":listGenre,"Run time":listRun_time,"Ratings":listRatings,"Votes":listVotes}
df_series=pd.DataFrame(dict_series)
df_series

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,154,230"
1,Stranger Things,2016–2024,"Drama, Fantasy, Horror",51 min,8.7,"1,236,109"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"1,023,380"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"301,141"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"260,086"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"51,421"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"63,457"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"206,914"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7,"42,966"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"256,598"

In [195]:
driver.close()

### ANSWER 8

In [24]:
driver=webdriver.Chrome("chromedriver.exe")

In [25]:
driver.get("https://archive.ics.uci.edu/")

In [26]:
datasetBtn=driver.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]")
datasetBtn.click()

In [27]:
listDataset_name=[]
listData_type=[]
listTask=[]
listAttribute_type=[]
listNo_of_instances=[]
listNo_of_attribute=[]
listYear=[]

In [28]:
try:
    datasetContent=driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody')
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

In [29]:
datasetRow=datasetContent.find_elements(By.XPATH,'./tr')

In [38]:
print(datasetRow[4].find_element(By.XPATH,'./td[1]').text)
print(datasetRow[4].find_element(By.XPATH,'./td[2]').text)
print(datasetRow[4].find_element(By.XPATH,'./td[3]').text)
print(datasetRow[4].find_element(By.XPATH,'./td[4]').text)
print(datasetRow[4].find_element(By.XPATH,'./td[5]').text)
print(datasetRow[4].find_element(By.XPATH,'./td[6]').text)
print(datasetRow[4].find_element(By.XPATH,'./td[7]').text)

  Anonymous Microsoft Web Data

Recommender-Systems
Categorical
37711
294
1998

In [39]:
for i in datasetRow[1:]:
    listDataset_name.append(i.find_element(By.XPATH,'./td[1]').text.strip())
    listData_type.append(i.find_element(By.XPATH,'./td[2]').text)
    listTask.append(i.find_element(By.XPATH,'./td[3]').text)
    listAttribute_type.append(i.find_element(By.XPATH,'./td[4]').text)
    listNo_of_instances.append(i.find_element(By.XPATH,'./td[5]').text)
    listNo_of_attribute.append(i.find_element(By.XPATH,'./td[6]').text)
    listYear.append(i.find_element(By.XPATH,'./td[7]').text)

In [40]:
dict_dataset={"Dataset name":listDataset_name,"Data type":listData_type,"Task":listTask,"Attribute type":listAttribute_type,"No of instances":listNo_of_instances,"No of attribute":listNo_of_attribute,"Year":listYear}
df_dataset=pd.DataFrame(dict_dataset)
df_dataset

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [41]:
driver.close()

### ANSWER 9

In [44]:
driver=webdriver.Chrome("chromedriver.exe")

In [46]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [47]:
inputSearch=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/div/div[1]/div[1]/div[2]/input")
inputSearch.send_keys('Data science')

In [48]:
searchBtn=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[1]/div[1]/form/div[1]/button")
searchBtn.click()

In [53]:
try:
    recruiterDetails=driver.find_elements(By.XPATH,'//div[@class="recInfo"]')
except NoSuchElementException:
    print("NoSuchElementException occurred")
except:
    print("An exception occurred")

In [55]:
recruiterDetails[0].text

'Aakash Harit\nHR Manager\nData Science Network\nDelhi\nSkills/Roles I hire for :\nClassic ASP Developer, Internet Marketing Professional, Data Science SME, Content Writers, SEO Professional, Revenue Professional\n1 active jobs | Last active on 22-Dec-2014'

In [56]:
listName=[]
listDesignation=[]
listCompany=[]
listSkills_they_hire_for=[]
listLocation=[]

In [58]:
recruiterDetails=driver.find_elements(By.XPATH,'//div[@class="recInfo"]')
for i in recruiterDetails:
    detailsList=i.text.split('\n')
    #print(detailsList)
    listName.append(detailsList[0])
    listDesignation.append(detailsList[1])
    listCompany.append(detailsList[2])
    listSkills_they_hire_for.append(detailsList[5])
    listLocation.append(detailsList[3])

In [59]:
dict_recruiters={"Name":listName,"Designation":listDesignation,"Company":listCompany,"Skills_they_hire_for":listSkills_they_hire_for,"Location":listLocation}
df_recruiters=pd.DataFrame(dict_recruiters)
df_recruiters

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,1 active jobs | Last active on 10-Oct-2017,Skills/Roles I hire for :
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Noida
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai

In [60]:
driver.close()